
 <main class="main-content">
            <div class="position-relative ">
            <!--Nav Start-->
                <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar">
                   <div class="container-fluid navbar-inner">
                      <a href="index-2.html" class="navbar-brand">
                         
                         <!--Logo start-->
                         <div class="logo-main">
                             <img src="https://templates.iqonic.design/muzik/html/assets/images/logo.svg" class="logo-normal img-fluid" alt="logo">
                             <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-dark.svg" class="logo-normal dark-normal img-fluid" alt="logo-dark">
                             <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-color.svg" class="logo-normal white-normal img-fluid" alt="logo-color">
                             <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-mini.svg" class="logo-mini img-fluid" alt="logo-mini">
                             <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-dark-mini.svg" class="logo-mini dark-mini img-fluid" alt="logo-dark-mini">
                             <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-color-mini.svg" class="logo-mini white-mini img-fluid" alt="logo-white-mini">
                         </div>
                         <!--logo End-->      </a>
                      <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
                         <i class="icon d-flex">
                            <svg class="icon-20" width="20" viewBox="0 0 24 24">
                               <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
                            </svg>
                         </i>
                      </div>
                      <div class="d-flex align-items-center justify-content-between product-offcanvas">
                         <div class="offcanvas offcanvas-end shadow-none iq-product-menu-responsive" tabindex="-1" id="offcanvasBottom">
                            <div class="offcanvas-body">
                               <ul class="iq-nav-menu list-unstyled">
                                  <li class="nav-item">
                                     <a class="nav-link active" aria-current="page"
                                        href="index-2.html">
                                        <span class="item-name">Home</span>
                                     </a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link " aria-current="page"
                                        href="release.html">
                                        <span class="item-name">Release</span>
                                     </a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link " aria-current="page"
                                           href="albums.html">
                                           <span class="item-name">Albums</span>
                                     </a>
                                  </li>
                               </ul>
                            </div>
                         </div>
                      </div>
                      <div class="d-flex align-items-center">
                         <button id="navbar-toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                               <span class="navbar-toggler-bar bar1 mt-1"></span>
                               <span class="navbar-toggler-bar bar2"></span>
                               <span class="navbar-toggler-bar bar3"></span>
                            </span>
                         </button>
                      </div>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <div class="search-box d-xl-block d-none">
                            <div class="dropdown">
                               <div class="search-box-drop" id="search-box-drop" data-bs-toggle="dropdown">
                                  <div class="d-flex align-items-center justify-content-between gap-2">
                                     <div class="search-box-inner">
                                        <button type="submit" class="search-box-drop-submit">
                                           <svg fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                              viewBox="0 0 24 24">
                                              <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5"
                                                 stroke-linecap="round" stroke-linejoin="round" />
                                              <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5"
                                                 stroke-linecap="round" stroke-linejoin="round" />
                                           </svg>
                                        </button>
                                        <input type="text" placeholder="Search Here...">
                                     </div>
                                     <div class="flex-shrink-0 search-box-btn">
                                        <a class="btn  text-capitalize">
                                           clt + k
                                        </a>
                                     </div>
                                  </div>
                               </div>
                               <ul class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="search-drop">
                                  <li class="">
                                     <div class="p-0 card-body all-notification">
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/64.jpg"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h5">Paige Turner</a>
                                              <span>Paige001</span>
                                           </div>
                                        </div>
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/02.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h5">Monty Carlo</a>
                                              <span>Carlo.m</span>
                                           </div>
                                        </div>
                                        <div class="d-flex align-items-center search-hover py-2 px-3 border-bottom">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/03.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h5">Paul Molive</a>
                                              <span>Paul.45</span>
                                           </div>
                                        </div>
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/04.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h5">Monty Carlo</a>
                                              <span>Carlo.m</span>
                                           </div>
                                        </div>
                                     </div>
                                  </li>
                               </ul>
                            </div>
                         </div>
                         <ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
                            <li class="nav-item dropdown d-xl-none d-block">
                               <a href="#" class="nav-link" id="search-drop" data-bs-toggle="dropdown">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                     <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                        transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                     <path
                                        d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                        fill="currentColor"></path>
                                  </svg>
                               </a>
                               <ul class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="search-drop">
                                  <li class="">
                                     <div class="p-3 card-header justify-content-between border-bottom rounded-top">
                                        <div class="header-title">
                                           <div class="iq-search-bar device-search  position-relative">
                                              <form action="#" class="searchbox">
                                                 <input type="text" class="text search-input form-control bg-soft-primary"
                                                    placeholder="Search here...">
                                                 <a class="d-lg-none d-flex" href="javascript:void(0);">
                                                    <span class="material-symbols-outlined">search</span>
                                                 </a>
                                              </form>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="p-0 card-body all-notification">
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/64.jpg"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h6">Alexa Zone</a>
                                              <span>Muzic Player</span>
                                           </div>
                                        </div>
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/55.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h6">Karuna Trusaa</a>
                                              <span>Singer</span>
                                           </div>
                                        </div>
                                        <div class="d-flex align-items-center search-hover py-2 px-3 border-bottom">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/56.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h6">Vibrato Ecruct</a>
                                              <span>Playback</span>
                                           </div>
                                        </div>
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                           <div class="flex-shrink-0">
                                              <img src="~/assets/images/dashboard/57.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                           </div>
                                           <div class="d-flex flex-column ms-3 w-100">
                                              <a href="javascript:void(0);" class="h6">Omen Smith</a>
                                              <span>Singer</span>
                                           </div>
                                        </div>
                                     </div>
                                  </li>
                               </ul>
                            </li>
                            <li>
                               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                  <g clip-path="url(#clip0_549_1300)">
                                     <path d="M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z" stroke="#AAAAAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                     <path d="M10.1601 16.1023C10.0555 16.1023 9.94999 16.1023 9.84765 16.1023L7.34374 17.5C6.36899 17.1721 5.46489 16.6632 4.6789 16L4.66952 13.1875C4.61405 13.1 4.56171 13.0117 4.51327 12.9211L2.02343 11.5031C1.82731 10.5112 1.82731 9.4904 2.02343 8.49844L4.51093 7.08438C4.56171 6.99453 4.61405 6.90547 4.66718 6.81797L4.67968 4.00547C5.46496 3.34035 6.36883 2.82957 7.34374 2.5L9.84374 3.89766C9.94843 3.89766 10.0539 3.89766 10.1562 3.89766L12.6562 2.5C13.631 2.82788 14.5351 3.33679 15.3211 4L15.3305 6.8125C15.3859 6.9 15.4383 6.98828 15.4867 7.07891L17.975 8.49609C18.1711 9.48806 18.1711 10.5088 17.975 11.5008L15.4875 12.9148C15.4367 13.0047 15.3844 13.0938 15.3312 13.1813L15.3187 15.9938C14.534 16.659 13.6307 17.17 12.6562 17.5L10.1601 16.1023Z" stroke="#AAAAAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                  </g>
                                  <defs>
                                     <clipPath id="clip0_549_1300">
                                        <rect width="20" height="20" fill="white"/>
                                     </clipPath>
                                  </defs>
                               </svg>
                            </li>
                            <li class="nav-item dropdown">
                               <a href="#" class="nav-link p-0 ps-3" id="notification-drop" data-bs-toggle="dropdown">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                     <g clip-path="url(#clip0_549_1304)">
                                        <path d="M7.5 15C7.5 15.663 7.76339 16.2989 8.23223 16.7678C8.70107 17.2366 9.33696 17.5 10 17.5C10.663 17.5 11.2989 17.2366 11.7678 16.7678C12.2366 16.2989 12.5 15.663 12.5 15" stroke="#AAAAAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M4.37502 8.125C4.37502 6.63316 4.96766 5.20242 6.02255 4.14752C7.07744 3.09263 8.50818 2.5 10 2.5C11.4919 2.5 12.9226 3.09263 13.9775 4.14752C15.0324 5.20242 15.625 6.63316 15.625 8.125C15.625 10.9234 16.2735 13.1719 16.7891 14.0625C16.8439 14.1574 16.8727 14.2649 16.8728 14.3744C16.8729 14.484 16.8442 14.5916 16.7896 14.6865C16.735 14.7815 16.6565 14.8604 16.5618 14.9154C16.467 14.9705 16.3595 14.9996 16.25 15H3.75002C3.64063 14.9993 3.53333 14.97 3.43884 14.9149C3.34435 14.8597 3.26599 14.7808 3.21158 14.6859C3.15717 14.591 3.12862 14.4835 3.12878 14.3741C3.12895 14.2647 3.15783 14.1572 3.21252 14.0625C3.72737 13.1719 4.37502 10.9227 4.37502 8.125Z" stroke="#AAAAAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <circle cx="14.2803" cy="2.91665" r="2.58333" fill="#EF3E36" stroke="white"/>
                                     </g>
                                     <defs>
                                        <clipPath id="clip0_549_1304">
                                           <rect width="20" height="20" fill="white"/>
                                        </clipPath>
                                     </defs>
                                  </svg>
                                  <span class="bg-danger dots"></span>
                               </a>
                               <ul class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="notification-drop">
                                  <li class="">
                                     <div class="p-3 card-header d-flex justify-content-between bg-primary rounded-top">
                                        <div class="header-title">
                                           <h5 class="mb-0 text-white">All Notifications</h5>
                                        </div>
                                     </div>
                                     <div class="p-0 card-body all-notification">
                                        <a href="#" class="iq-sub-card">
                                           <div class="d-flex align-items-center">
                                              <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                 src="~/assets/images/dashboard/24.png" alt="" loading="lazy">
                                              <div class="ms-3 w-100">
                                                 <h6 class="mb-0 ">Emma Watson Bni</h6>
                                                 <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-0">95 MB</p>
                                                    <small class="float-end font-size-12">Just Now</small>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                           <div class="d-flex align-items-center">
                                              <div>
                                                 <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                    src="~/assets/images/dashboard/25.png" alt="" loading="lazy">
                                              </div>
                                              <div class="ms-3 w-100">
                                                 <h6 class="mb-0 ">New customer is join</h6>
                                                 <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-0">Cyst Bni</p>
                                                    <small class="float-end font-size-12">5 days ago</small>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                           <div class="d-flex align-items-center">
                                              <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                 src="~/assets/images/dashboard/26.png" alt="" loading="lazy">
                                              <div class="ms-3 w-100">
                                                 <h6 class="mb-0 ">Two customer is left</h6>
                                                 <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-0">Cyst Bni</p>
                                                    <small class="float-end font-size-12">2 days ago</small>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                           <div class="d-flex align-items-center">
                                              <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                 src="~/assets/images/dashboard/27.png" alt="" loading="lazy">
                                              <div class="w-100 ms-3">
                                                 <h6 class="mb-0 ">New Mail from Fenny</h6>
                                                 <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-0">Cyst Bni</p>
                                                    <small class="float-end font-size-12">3 days ago</small>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </li>
                               </ul>
                            </li>
                            <li class="nav-item dropdown">
                               <a class="p-0 ps-3 nav-link d-flex align-items-center position-relative" href="#" id="profile-setting" role="button"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                  <img src="~/assets/images/dashboard/64.jpg" alt="User-Profile"
                                     class="theme-color-default-img img-fluid avatar avatar-40 avatar-rounded" loading="lazy">
                                     <div class="iq-profile-badge  bg-success"></div
                               </a>
                               <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile-setting">
                                  <li><a class="dropdown-item" href="app/user-profile.html">Profile</a></li>
                                  <li><a class="dropdown-item" href="app/user-privacy-setting.html">Privacy
                                        Setting</a></li>
                                  <li>
                                     <hr class="dropdown-divider">
                                  </li>
                                  <li><a class="dropdown-item" href="auth/sign-in.html">Logout</a></li>
                               </ul>
                            </li>
                         </ul>
                      </div>
                   </div>
                </nav>            <!--Nav End-->
            </div>
            <div class="content-inner container-fluid pb-0" id="page_layout">
<div class="row">
    <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-0 bg-soft-secondary">
                        <img src="~/assets/images/dashboard/01.png" class="img-fluid w-100" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="d-flex align-items-top justify-content-between">
                        <div class="music-detail">
                            <h3 class="mb-3">Eliana D’cruz Playlist</h3>
                            <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>when an unknown printer took a galley of type and scrambled</p>
                            <div class="d-flex align-items-center mb-4">
                            <h6 class="mb-1 fw-bold me-3">Smith Jonas</h6>
                            <h6 class="ps-3 fw-bold me-3 border-start">15 Tracks</h6>
                            <h6 class="ps-3 fw-bold border-start">03:00 Duration</h6>
                        </div>
                        
                            <div class="d-flex align-items-center">                                       
                            <a href="javascript:void(0);" class="btn btn-primary">Play music</a>
                            <a href="javascript:void(0);" class="btn btn-outline-secondary ms-3">Add Playlist</a>
                            </div>
                        </div>
                        <div class="music-right">
                            <div class="d-flex align-items-center flex-wrap">
                            <div class="iq-circle me-2 share"><a href="javascript:void();"><svg class="text-primary" width="18" class="me-1" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12S8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5S19.66 2 18 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12S4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.91 18 21.91S20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08M18 4C18.55 4 19 4.45 19 5S18.55 6 18 6 17 5.55 17 5 17.45 4 18 4M6 13C5.45 13 5 12.55 5 12S5.45 11 6 11 7 11.45 7 12 6.55 13 6 13M18 20C17.45 20 17 19.55 17 19S17.45 18 18 18 19 18.45 19 19 18.55 20 18 20Z"></path>
                                </svg></a></div>
                            <div class="iq-circle me-2"><a href="javascript:void();"><svg class="icon-20 text-primary" width="20" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
                            </svg></a></div>                 
                            <div class="iq-circle">
                                <a href="javascript:void();"><svg class="icon-20" width="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.1562 19.1224V26.1224C28.1562 26.6528 27.9455 27.1615 27.5705 27.5366C27.1954 27.9116 26.6867 28.1224 26.1562 28.1224H6.15625C5.62582 28.1224 5.11711 27.9116 4.74204 27.5366C4.36696 27.1615 4.15625 26.6528 4.15625 26.1224V19.1224C4.15625 18.8571 4.26161 18.6028 4.44914 18.4153C4.63668 18.2277 4.89103 18.1224 5.15625 18.1224C5.42147 18.1224 5.67582 18.2277 5.86336 18.4153C6.05089 18.6028 6.15625 18.8571 6.15625 19.1224V26.1224H26.1562V19.1224C26.1562 18.8571 26.2616 18.6028 26.4491 18.4153C26.6367 18.2277 26.891 18.1224 27.1562 18.1224C27.4215 18.1224 27.6758 18.2277 27.8634 18.4153C28.0509 18.6028 28.1562 18.8571 28.1562 19.1224ZM15.4487 19.8299C15.5416 19.9228 15.6519 19.9966 15.7733 20.0469C15.8947 20.0972 16.0248 20.1231 16.1562 20.1231C16.2877 20.1231 16.4178 20.0972 16.5392 20.0469C16.6606 19.9966 16.7709 19.9228 16.8638 19.8299L21.8638 14.8299C21.9567 14.737 22.0304 14.6266 22.0806 14.5053C22.1309 14.3839 22.1568 14.2538 22.1568 14.1224C22.1568 13.991 22.1309 13.8609 22.0806 13.7395C22.0304 13.6181 21.9567 13.5078 21.8638 13.4149C21.7708 13.3219 21.6605 13.2482 21.5391 13.198C21.4178 13.1477 21.2876 13.1218 21.1562 13.1218C21.0249 13.1218 20.8947 13.1477 20.7734 13.198C20.652 13.2482 20.5417 13.3219 20.4487 13.4149L17.1562 16.7086V5.12236C17.1562 4.85714 17.0509 4.60279 16.8634 4.41525C16.6758 4.22772 16.4215 4.12236 16.1562 4.12236C15.891 4.12236 15.6367 4.22772 15.4491 4.41525C15.2616 4.60279 15.1562 4.85714 15.1562 5.12236V16.7086L11.8638 13.4149C11.6761 13.2272 11.4216 13.1218 11.1562 13.1218C10.8909 13.1218 10.6364 13.2272 10.4487 13.4149C10.2611 13.6025 10.1557 13.857 10.1557 14.1224C10.1557 14.3877 10.2611 14.6422 10.4487 14.8299L15.4487 19.8299Z" fill="currentColor"/>
                                </svg></a>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-12">
            <div class="card">
               <div class="card-body px-0">
                  <div class=" table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Album</th>
                                <th scope="col">Time</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>
                                    <div class="d-flex align-items-center col-10 col-md-5">
                                        <div class="realese-song ">
                                            <a href="javascript:void(0);"><img src="~/assets/images/dashboard/05.png" class="rounded avatar-60 img-fluid" alt=""></a>
                                        </div>
                                        <div class=" ms-3">
                                            <p class="mb-0">The Girl</p>
                                            <small>By Snoods Smith Jonas</small>
                                        </div>
                                    </div>
                                </td>
                                <td><p class="mb-0">Heart Is Beating</p> </td>
                                <td><p class="mb-0">4:21</p></td>
                                <td>
                                    <div class="dropdown">
                                        <span class="d-flex align-items-center h5 mb-0" id="dropdownMenuButton07" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="22" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton07" style="">
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M31.467 15.7853C31.4232 15.6865 30.3645 13.3378 28.0107 10.984C24.8745 7.84778 20.9132 6.19028 16.5532 6.19028C12.1932 6.19028 8.23196 7.84778 5.09571 10.984C2.74196 13.3378 1.67821 15.6903 1.63946 15.7853C1.5826 15.9132 1.55322 16.0516 1.55322 16.1915C1.55322 16.3315 1.5826 16.4699 1.63946 16.5978C1.68321 16.6965 2.74196 19.044 5.09571 21.3978C8.23196 24.5328 12.1932 26.1903 16.5532 26.1903C20.9132 26.1903 24.8745 24.5328 28.0107 21.3978C30.3645 19.044 31.4232 16.6965 31.467 16.5978C31.5238 16.4699 31.5532 16.3315 31.5532 16.1915C31.5532 16.0516 31.5238 15.9132 31.467 15.7853ZM16.5532 24.1903C12.7057 24.1903 9.34446 22.7915 6.56196 20.034C5.42027 18.8986 4.44895 17.604 3.67821 16.1903C4.44874 14.7765 5.42008 13.4817 6.56196 12.3465C9.34446 9.58903 12.7057 8.19028 16.5532 8.19028C20.4007 8.19028 23.762 9.58903 26.5445 12.3465C27.6884 13.4815 28.6618 14.7762 29.4345 16.1903C28.5332 17.8728 24.607 24.1903 16.5532 24.1903ZM16.5532 10.1903C15.3665 10.1903 14.2065 10.5422 13.2198 11.2015C12.2331 11.8607 11.4641 12.7978 11.0099 13.8942C10.5558 14.9905 10.437 16.1969 10.6685 17.3608C10.9 18.5247 11.4715 19.5938 12.3106 20.4329C13.1497 21.272 14.2188 21.8435 15.3827 22.075C16.5466 22.3065 17.753 22.1877 18.8493 21.7336C19.9457 21.2794 20.8827 20.5104 21.542 19.5237C22.2013 18.537 22.5532 17.377 22.5532 16.1903C22.5516 14.5995 21.9189 13.0743 20.794 11.9495C19.6692 10.8246 18.144 10.1919 16.5532 10.1903ZM16.5532 20.1903C15.7621 20.1903 14.9887 19.9557 14.3309 19.5162C13.6731 19.0766 13.1604 18.4519 12.8577 17.721C12.5549 16.9901 12.4757 16.1858 12.6301 15.4099C12.7844 14.634 13.1654 13.9213 13.7248 13.3618C14.2842 12.8024 14.9969 12.4215 15.7729 12.2671C16.5488 12.1128 17.353 12.192 18.0839 12.4948C18.8148 12.7975 19.4396 13.3102 19.8791 13.968C20.3186 14.6258 20.5532 15.3992 20.5532 16.1903C20.5532 17.2511 20.1318 18.2686 19.3816 19.0187C18.6315 19.7688 17.6141 20.1903 16.5532 20.1903Z" fill="currentColor"/>
                                                </svg>
                                                View
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path  d="M19.643 9.48851C19.643 9.5565 19.11 16.2973 18.8056 19.1342C18.615 20.8751 17.4927 21.9311 15.8092 21.9611C14.5157 21.9901 13.2494 22.0001 12.0036 22.0001C10.6809 22.0001 9.38741 21.9901 8.13185 21.9611C6.50477 21.9221 5.38147 20.8451 5.20057 19.1342C4.88741 16.2873 4.36418 9.5565 4.35445 9.48851C4.34473 9.28351 4.41086 9.08852 4.54507 8.93053C4.67734 8.78453 4.86796 8.69653 5.06831 8.69653H18.9388C19.1382 8.69653 19.3191 8.78453 19.4621 8.93053C19.5953 9.08852 19.6624 9.28351 19.643 9.48851Z" fill="currentColor"></path>
                                                <path d="M21 5.97686C21 5.56588 20.6761 5.24389 20.2871 5.24389H17.3714C16.7781 5.24389 16.2627 4.8219 16.1304 4.22692L15.967 3.49795C15.7385 2.61698 14.9498 2 14.0647 2H9.93624C9.0415 2 8.26054 2.61698 8.02323 3.54595L7.87054 4.22792C7.7373 4.8219 7.22185 5.24389 6.62957 5.24389H3.71385C3.32386 5.24389 3 5.56588 3 5.97686V6.35685C3 6.75783 3.32386 7.08982 3.71385 7.08982H20.2871C20.6761 7.08982 21 6.75783 21 6.35685V5.97686Z" fill="currentColor"></path>
                                                </svg>
                                                Delete
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M28.1562 19.1224V26.1224C28.1562 26.6528 27.9455 27.1615 27.5705 27.5366C27.1954 27.9116 26.6867 28.1224 26.1562 28.1224H6.15625C5.62582 28.1224 5.11711 27.9116 4.74204 27.5366C4.36696 27.1615 4.15625 26.6528 4.15625 26.1224V19.1224C4.15625 18.8571 4.26161 18.6028 4.44914 18.4153C4.63668 18.2277 4.89103 18.1224 5.15625 18.1224C5.42147 18.1224 5.67582 18.2277 5.86336 18.4153C6.05089 18.6028 6.15625 18.8571 6.15625 19.1224V26.1224H26.1562V19.1224C26.1562 18.8571 26.2616 18.6028 26.4491 18.4153C26.6367 18.2277 26.891 18.1224 27.1562 18.1224C27.4215 18.1224 27.6758 18.2277 27.8634 18.4153C28.0509 18.6028 28.1562 18.8571 28.1562 19.1224ZM15.4487 19.8299C15.5416 19.9228 15.6519 19.9966 15.7733 20.0469C15.8947 20.0972 16.0248 20.1231 16.1562 20.1231C16.2877 20.1231 16.4178 20.0972 16.5392 20.0469C16.6606 19.9966 16.7709 19.9228 16.8638 19.8299L21.8638 14.8299C21.9567 14.737 22.0304 14.6266 22.0806 14.5053C22.1309 14.3839 22.1568 14.2538 22.1568 14.1224C22.1568 13.991 22.1309 13.8609 22.0806 13.7395C22.0304 13.6181 21.9567 13.5078 21.8638 13.4149C21.7708 13.3219 21.6605 13.2482 21.5391 13.198C21.4178 13.1477 21.2876 13.1218 21.1562 13.1218C21.0249 13.1218 20.8947 13.1477 20.7734 13.198C20.652 13.2482 20.5417 13.3219 20.4487 13.4149L17.1562 16.7086V5.12236C17.1562 4.85714 17.0509 4.60279 16.8634 4.41525C16.6758 4.22772 16.4215 4.12236 16.1562 4.12236C15.891 4.12236 15.6367 4.22772 15.4491 4.41525C15.2616 4.60279 15.1562 4.85714 15.1562 5.12236V16.7086L11.8638 13.4149C11.6761 13.2272 11.4216 13.1218 11.1562 13.1218C10.8909 13.1218 10.6364 13.2272 10.4487 13.4149C10.2611 13.6025 10.1557 13.857 10.1557 14.1224C10.1557 14.3877 10.2611 14.6422 10.4487 14.8299L15.4487 19.8299Z" fill="currentColor"/>
                                                </svg>
                                                Download
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>
                                    <div class="d-flex align-items-center col-10 col-md-5">
                                        <div class="realese-song ">
                                            <a href="javascript:void(0);"><img src="~/assets/images/dashboard/06.png" class="rounded avatar-60 img-fluid" alt=""></a>
                                        </div>
                                        <div class=" ms-3">
                                            <p class="mb-0">Infinity</p>
                                            <small>Edyta Gorniak</small>
                                        </div>
                                    </div>
                                </td>
                                <td><p class="mb-0">My Crying Eyes</p></td>
                                <td><p class="mb-0">3:21</p></td>
                                <td>
                                    <div class="dropdown">
                                        <span class="d-flex align-items-center h5 mb-0" id="dropdownMenuButton08" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="22" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton08" style="">
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M31.467 15.7853C31.4232 15.6865 30.3645 13.3378 28.0107 10.984C24.8745 7.84778 20.9132 6.19028 16.5532 6.19028C12.1932 6.19028 8.23196 7.84778 5.09571 10.984C2.74196 13.3378 1.67821 15.6903 1.63946 15.7853C1.5826 15.9132 1.55322 16.0516 1.55322 16.1915C1.55322 16.3315 1.5826 16.4699 1.63946 16.5978C1.68321 16.6965 2.74196 19.044 5.09571 21.3978C8.23196 24.5328 12.1932 26.1903 16.5532 26.1903C20.9132 26.1903 24.8745 24.5328 28.0107 21.3978C30.3645 19.044 31.4232 16.6965 31.467 16.5978C31.5238 16.4699 31.5532 16.3315 31.5532 16.1915C31.5532 16.0516 31.5238 15.9132 31.467 15.7853ZM16.5532 24.1903C12.7057 24.1903 9.34446 22.7915 6.56196 20.034C5.42027 18.8986 4.44895 17.604 3.67821 16.1903C4.44874 14.7765 5.42008 13.4817 6.56196 12.3465C9.34446 9.58903 12.7057 8.19028 16.5532 8.19028C20.4007 8.19028 23.762 9.58903 26.5445 12.3465C27.6884 13.4815 28.6618 14.7762 29.4345 16.1903C28.5332 17.8728 24.607 24.1903 16.5532 24.1903ZM16.5532 10.1903C15.3665 10.1903 14.2065 10.5422 13.2198 11.2015C12.2331 11.8607 11.4641 12.7978 11.0099 13.8942C10.5558 14.9905 10.437 16.1969 10.6685 17.3608C10.9 18.5247 11.4715 19.5938 12.3106 20.4329C13.1497 21.272 14.2188 21.8435 15.3827 22.075C16.5466 22.3065 17.753 22.1877 18.8493 21.7336C19.9457 21.2794 20.8827 20.5104 21.542 19.5237C22.2013 18.537 22.5532 17.377 22.5532 16.1903C22.5516 14.5995 21.9189 13.0743 20.794 11.9495C19.6692 10.8246 18.144 10.1919 16.5532 10.1903ZM16.5532 20.1903C15.7621 20.1903 14.9887 19.9557 14.3309 19.5162C13.6731 19.0766 13.1604 18.4519 12.8577 17.721C12.5549 16.9901 12.4757 16.1858 12.6301 15.4099C12.7844 14.634 13.1654 13.9213 13.7248 13.3618C14.2842 12.8024 14.9969 12.4215 15.7729 12.2671C16.5488 12.1128 17.353 12.192 18.0839 12.4948C18.8148 12.7975 19.4396 13.3102 19.8791 13.968C20.3186 14.6258 20.5532 15.3992 20.5532 16.1903C20.5532 17.2511 20.1318 18.2686 19.3816 19.0187C18.6315 19.7688 17.6141 20.1903 16.5532 20.1903Z" fill="currentColor"/>
                                                </svg>
                                                View
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path  d="M19.643 9.48851C19.643 9.5565 19.11 16.2973 18.8056 19.1342C18.615 20.8751 17.4927 21.9311 15.8092 21.9611C14.5157 21.9901 13.2494 22.0001 12.0036 22.0001C10.6809 22.0001 9.38741 21.9901 8.13185 21.9611C6.50477 21.9221 5.38147 20.8451 5.20057 19.1342C4.88741 16.2873 4.36418 9.5565 4.35445 9.48851C4.34473 9.28351 4.41086 9.08852 4.54507 8.93053C4.67734 8.78453 4.86796 8.69653 5.06831 8.69653H18.9388C19.1382 8.69653 19.3191 8.78453 19.4621 8.93053C19.5953 9.08852 19.6624 9.28351 19.643 9.48851Z" fill="currentColor"></path>
                                                <path d="M21 5.97686C21 5.56588 20.6761 5.24389 20.2871 5.24389H17.3714C16.7781 5.24389 16.2627 4.8219 16.1304 4.22692L15.967 3.49795C15.7385 2.61698 14.9498 2 14.0647 2H9.93624C9.0415 2 8.26054 2.61698 8.02323 3.54595L7.87054 4.22792C7.7373 4.8219 7.22185 5.24389 6.62957 5.24389H3.71385C3.32386 5.24389 3 5.56588 3 5.97686V6.35685C3 6.75783 3.32386 7.08982 3.71385 7.08982H20.2871C20.6761 7.08982 21 6.75783 21 6.35685V5.97686Z" fill="currentColor"></path>
                                                </svg>
                                                Delete
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M28.1562 19.1224V26.1224C28.1562 26.6528 27.9455 27.1615 27.5705 27.5366C27.1954 27.9116 26.6867 28.1224 26.1562 28.1224H6.15625C5.62582 28.1224 5.11711 27.9116 4.74204 27.5366C4.36696 27.1615 4.15625 26.6528 4.15625 26.1224V19.1224C4.15625 18.8571 4.26161 18.6028 4.44914 18.4153C4.63668 18.2277 4.89103 18.1224 5.15625 18.1224C5.42147 18.1224 5.67582 18.2277 5.86336 18.4153C6.05089 18.6028 6.15625 18.8571 6.15625 19.1224V26.1224H26.1562V19.1224C26.1562 18.8571 26.2616 18.6028 26.4491 18.4153C26.6367 18.2277 26.891 18.1224 27.1562 18.1224C27.4215 18.1224 27.6758 18.2277 27.8634 18.4153C28.0509 18.6028 28.1562 18.8571 28.1562 19.1224ZM15.4487 19.8299C15.5416 19.9228 15.6519 19.9966 15.7733 20.0469C15.8947 20.0972 16.0248 20.1231 16.1562 20.1231C16.2877 20.1231 16.4178 20.0972 16.5392 20.0469C16.6606 19.9966 16.7709 19.9228 16.8638 19.8299L21.8638 14.8299C21.9567 14.737 22.0304 14.6266 22.0806 14.5053C22.1309 14.3839 22.1568 14.2538 22.1568 14.1224C22.1568 13.991 22.1309 13.8609 22.0806 13.7395C22.0304 13.6181 21.9567 13.5078 21.8638 13.4149C21.7708 13.3219 21.6605 13.2482 21.5391 13.198C21.4178 13.1477 21.2876 13.1218 21.1562 13.1218C21.0249 13.1218 20.8947 13.1477 20.7734 13.198C20.652 13.2482 20.5417 13.3219 20.4487 13.4149L17.1562 16.7086V5.12236C17.1562 4.85714 17.0509 4.60279 16.8634 4.41525C16.6758 4.22772 16.4215 4.12236 16.1562 4.12236C15.891 4.12236 15.6367 4.22772 15.4491 4.41525C15.2616 4.60279 15.1562 4.85714 15.1562 5.12236V16.7086L11.8638 13.4149C11.6761 13.2272 11.4216 13.1218 11.1562 13.1218C10.8909 13.1218 10.6364 13.2272 10.4487 13.4149C10.2611 13.6025 10.1557 13.857 10.1557 14.1224C10.1557 14.3877 10.2611 14.6422 10.4487 14.8299L15.4487 19.8299Z" fill="currentColor"/>
                                                </svg>
                                                Download
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>
                                    <div class="d-flex align-items-center col-10 col-md-5">
                                       <div class="realese-song ">
                                            <a href="javascript:void(0);"><img src="~/assets/images/dashboard/07.png" class="rounded avatar-60 img-fluid" alt=""></a>
                                        </div>
                                        <div class=" ms-3">
                                            <p class="mb-0">Everything I Want</p>
                                            <small>Edyta Gorniak</small>
                                        </div>
                                    </div>
                                </td>
                                <td><p class="mb-0"> My Lovely Dad</p></td>
                                <td><p class="mb-0">02:21</p></td>
                                <td>
                                    <div class="dropdown">
                                        <span class="d-flex align-items-center h5 mb-0" id="dropdownMenuButton09" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="22" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton09" style="">
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M31.467 15.7853C31.4232 15.6865 30.3645 13.3378 28.0107 10.984C24.8745 7.84778 20.9132 6.19028 16.5532 6.19028C12.1932 6.19028 8.23196 7.84778 5.09571 10.984C2.74196 13.3378 1.67821 15.6903 1.63946 15.7853C1.5826 15.9132 1.55322 16.0516 1.55322 16.1915C1.55322 16.3315 1.5826 16.4699 1.63946 16.5978C1.68321 16.6965 2.74196 19.044 5.09571 21.3978C8.23196 24.5328 12.1932 26.1903 16.5532 26.1903C20.9132 26.1903 24.8745 24.5328 28.0107 21.3978C30.3645 19.044 31.4232 16.6965 31.467 16.5978C31.5238 16.4699 31.5532 16.3315 31.5532 16.1915C31.5532 16.0516 31.5238 15.9132 31.467 15.7853ZM16.5532 24.1903C12.7057 24.1903 9.34446 22.7915 6.56196 20.034C5.42027 18.8986 4.44895 17.604 3.67821 16.1903C4.44874 14.7765 5.42008 13.4817 6.56196 12.3465C9.34446 9.58903 12.7057 8.19028 16.5532 8.19028C20.4007 8.19028 23.762 9.58903 26.5445 12.3465C27.6884 13.4815 28.6618 14.7762 29.4345 16.1903C28.5332 17.8728 24.607 24.1903 16.5532 24.1903ZM16.5532 10.1903C15.3665 10.1903 14.2065 10.5422 13.2198 11.2015C12.2331 11.8607 11.4641 12.7978 11.0099 13.8942C10.5558 14.9905 10.437 16.1969 10.6685 17.3608C10.9 18.5247 11.4715 19.5938 12.3106 20.4329C13.1497 21.272 14.2188 21.8435 15.3827 22.075C16.5466 22.3065 17.753 22.1877 18.8493 21.7336C19.9457 21.2794 20.8827 20.5104 21.542 19.5237C22.2013 18.537 22.5532 17.377 22.5532 16.1903C22.5516 14.5995 21.9189 13.0743 20.794 11.9495C19.6692 10.8246 18.144 10.1919 16.5532 10.1903ZM16.5532 20.1903C15.7621 20.1903 14.9887 19.9557 14.3309 19.5162C13.6731 19.0766 13.1604 18.4519 12.8577 17.721C12.5549 16.9901 12.4757 16.1858 12.6301 15.4099C12.7844 14.634 13.1654 13.9213 13.7248 13.3618C14.2842 12.8024 14.9969 12.4215 15.7729 12.2671C16.5488 12.1128 17.353 12.192 18.0839 12.4948C18.8148 12.7975 19.4396 13.3102 19.8791 13.968C20.3186 14.6258 20.5532 15.3992 20.5532 16.1903C20.5532 17.2511 20.1318 18.2686 19.3816 19.0187C18.6315 19.7688 17.6141 20.1903 16.5532 20.1903Z" fill="currentColor"/>
                                                </svg>
                                                View
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path  d="M19.643 9.48851C19.643 9.5565 19.11 16.2973 18.8056 19.1342C18.615 20.8751 17.4927 21.9311 15.8092 21.9611C14.5157 21.9901 13.2494 22.0001 12.0036 22.0001C10.6809 22.0001 9.38741 21.9901 8.13185 21.9611C6.50477 21.9221 5.38147 20.8451 5.20057 19.1342C4.88741 16.2873 4.36418 9.5565 4.35445 9.48851C4.34473 9.28351 4.41086 9.08852 4.54507 8.93053C4.67734 8.78453 4.86796 8.69653 5.06831 8.69653H18.9388C19.1382 8.69653 19.3191 8.78453 19.4621 8.93053C19.5953 9.08852 19.6624 9.28351 19.643 9.48851Z" fill="currentColor"></path>
                                                <path d="M21 5.97686C21 5.56588 20.6761 5.24389 20.2871 5.24389H17.3714C16.7781 5.24389 16.2627 4.8219 16.1304 4.22692L15.967 3.49795C15.7385 2.61698 14.9498 2 14.0647 2H9.93624C9.0415 2 8.26054 2.61698 8.02323 3.54595L7.87054 4.22792C7.7373 4.8219 7.22185 5.24389 6.62957 5.24389H3.71385C3.32386 5.24389 3 5.56588 3 5.97686V6.35685C3 6.75783 3.32386 7.08982 3.71385 7.08982H20.2871C20.6761 7.08982 21 6.75783 21 6.35685V5.97686Z" fill="currentColor"></path>
                                                </svg>
                                                Delete
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M28.1562 19.1224V26.1224C28.1562 26.6528 27.9455 27.1615 27.5705 27.5366C27.1954 27.9116 26.6867 28.1224 26.1562 28.1224H6.15625C5.62582 28.1224 5.11711 27.9116 4.74204 27.5366C4.36696 27.1615 4.15625 26.6528 4.15625 26.1224V19.1224C4.15625 18.8571 4.26161 18.6028 4.44914 18.4153C4.63668 18.2277 4.89103 18.1224 5.15625 18.1224C5.42147 18.1224 5.67582 18.2277 5.86336 18.4153C6.05089 18.6028 6.15625 18.8571 6.15625 19.1224V26.1224H26.1562V19.1224C26.1562 18.8571 26.2616 18.6028 26.4491 18.4153C26.6367 18.2277 26.891 18.1224 27.1562 18.1224C27.4215 18.1224 27.6758 18.2277 27.8634 18.4153C28.0509 18.6028 28.1562 18.8571 28.1562 19.1224ZM15.4487 19.8299C15.5416 19.9228 15.6519 19.9966 15.7733 20.0469C15.8947 20.0972 16.0248 20.1231 16.1562 20.1231C16.2877 20.1231 16.4178 20.0972 16.5392 20.0469C16.6606 19.9966 16.7709 19.9228 16.8638 19.8299L21.8638 14.8299C21.9567 14.737 22.0304 14.6266 22.0806 14.5053C22.1309 14.3839 22.1568 14.2538 22.1568 14.1224C22.1568 13.991 22.1309 13.8609 22.0806 13.7395C22.0304 13.6181 21.9567 13.5078 21.8638 13.4149C21.7708 13.3219 21.6605 13.2482 21.5391 13.198C21.4178 13.1477 21.2876 13.1218 21.1562 13.1218C21.0249 13.1218 20.8947 13.1477 20.7734 13.198C20.652 13.2482 20.5417 13.3219 20.4487 13.4149L17.1562 16.7086V5.12236C17.1562 4.85714 17.0509 4.60279 16.8634 4.41525C16.6758 4.22772 16.4215 4.12236 16.1562 4.12236C15.891 4.12236 15.6367 4.22772 15.4491 4.41525C15.2616 4.60279 15.1562 4.85714 15.1562 5.12236V16.7086L11.8638 13.4149C11.6761 13.2272 11.4216 13.1218 11.1562 13.1218C10.8909 13.1218 10.6364 13.2272 10.4487 13.4149C10.2611 13.6025 10.1557 13.857 10.1557 14.1224C10.1557 14.3877 10.2611 14.6422 10.4487 14.8299L15.4487 19.8299Z" fill="currentColor"/>
                                                </svg>
                                                Download
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr> 
                            <tr>
                                <td>04</td>
                                <td>
                                    <div class="d-flex align-items-center col-10 col-md-5">
                                        <div class="realese-song ">
                                            <a href="javascript:void(0);"><img src="~/assets/images/dashboard/08.png" class="rounded avatar-60 img-fluid" alt=""></a>
                                        </div>
                                        <div class=" ms-3">
                                            <p class="mb-0">The Silent One</p>
                                            <small>Edyta Gorniak</small>
                                        </div>
                                    </div>
                                </td>
                                <td><p class="mb-0">Travel Mix</p> </td>
                                <td><p class="mb-0">3:21</p> </td>
                                <td>
                                    <div class="dropdown">
                                        <span class="d-flex align-items-center h5 mb-0" id="dropdownMenuButton10" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="22" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton10" style="">
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M31.467 15.7853C31.4232 15.6865 30.3645 13.3378 28.0107 10.984C24.8745 7.84778 20.9132 6.19028 16.5532 6.19028C12.1932 6.19028 8.23196 7.84778 5.09571 10.984C2.74196 13.3378 1.67821 15.6903 1.63946 15.7853C1.5826 15.9132 1.55322 16.0516 1.55322 16.1915C1.55322 16.3315 1.5826 16.4699 1.63946 16.5978C1.68321 16.6965 2.74196 19.044 5.09571 21.3978C8.23196 24.5328 12.1932 26.1903 16.5532 26.1903C20.9132 26.1903 24.8745 24.5328 28.0107 21.3978C30.3645 19.044 31.4232 16.6965 31.467 16.5978C31.5238 16.4699 31.5532 16.3315 31.5532 16.1915C31.5532 16.0516 31.5238 15.9132 31.467 15.7853ZM16.5532 24.1903C12.7057 24.1903 9.34446 22.7915 6.56196 20.034C5.42027 18.8986 4.44895 17.604 3.67821 16.1903C4.44874 14.7765 5.42008 13.4817 6.56196 12.3465C9.34446 9.58903 12.7057 8.19028 16.5532 8.19028C20.4007 8.19028 23.762 9.58903 26.5445 12.3465C27.6884 13.4815 28.6618 14.7762 29.4345 16.1903C28.5332 17.8728 24.607 24.1903 16.5532 24.1903ZM16.5532 10.1903C15.3665 10.1903 14.2065 10.5422 13.2198 11.2015C12.2331 11.8607 11.4641 12.7978 11.0099 13.8942C10.5558 14.9905 10.437 16.1969 10.6685 17.3608C10.9 18.5247 11.4715 19.5938 12.3106 20.4329C13.1497 21.272 14.2188 21.8435 15.3827 22.075C16.5466 22.3065 17.753 22.1877 18.8493 21.7336C19.9457 21.2794 20.8827 20.5104 21.542 19.5237C22.2013 18.537 22.5532 17.377 22.5532 16.1903C22.5516 14.5995 21.9189 13.0743 20.794 11.9495C19.6692 10.8246 18.144 10.1919 16.5532 10.1903ZM16.5532 20.1903C15.7621 20.1903 14.9887 19.9557 14.3309 19.5162C13.6731 19.0766 13.1604 18.4519 12.8577 17.721C12.5549 16.9901 12.4757 16.1858 12.6301 15.4099C12.7844 14.634 13.1654 13.9213 13.7248 13.3618C14.2842 12.8024 14.9969 12.4215 15.7729 12.2671C16.5488 12.1128 17.353 12.192 18.0839 12.4948C18.8148 12.7975 19.4396 13.3102 19.8791 13.968C20.3186 14.6258 20.5532 15.3992 20.5532 16.1903C20.5532 17.2511 20.1318 18.2686 19.3816 19.0187C18.6315 19.7688 17.6141 20.1903 16.5532 20.1903Z" fill="currentColor"/>
                                                </svg>
                                                View
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path  d="M19.643 9.48851C19.643 9.5565 19.11 16.2973 18.8056 19.1342C18.615 20.8751 17.4927 21.9311 15.8092 21.9611C14.5157 21.9901 13.2494 22.0001 12.0036 22.0001C10.6809 22.0001 9.38741 21.9901 8.13185 21.9611C6.50477 21.9221 5.38147 20.8451 5.20057 19.1342C4.88741 16.2873 4.36418 9.5565 4.35445 9.48851C4.34473 9.28351 4.41086 9.08852 4.54507 8.93053C4.67734 8.78453 4.86796 8.69653 5.06831 8.69653H18.9388C19.1382 8.69653 19.3191 8.78453 19.4621 8.93053C19.5953 9.08852 19.6624 9.28351 19.643 9.48851Z" fill="currentColor"></path>
                                                <path d="M21 5.97686C21 5.56588 20.6761 5.24389 20.2871 5.24389H17.3714C16.7781 5.24389 16.2627 4.8219 16.1304 4.22692L15.967 3.49795C15.7385 2.61698 14.9498 2 14.0647 2H9.93624C9.0415 2 8.26054 2.61698 8.02323 3.54595L7.87054 4.22792C7.7373 4.8219 7.22185 5.24389 6.62957 5.24389H3.71385C3.32386 5.24389 3 5.56588 3 5.97686V6.35685C3 6.75783 3.32386 7.08982 3.71385 7.08982H20.2871C20.6761 7.08982 21 6.75783 21 6.35685V5.97686Z" fill="currentColor"></path>
                                                </svg>
                                                Delete
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M28.1562 19.1224V26.1224C28.1562 26.6528 27.9455 27.1615 27.5705 27.5366C27.1954 27.9116 26.6867 28.1224 26.1562 28.1224H6.15625C5.62582 28.1224 5.11711 27.9116 4.74204 27.5366C4.36696 27.1615 4.15625 26.6528 4.15625 26.1224V19.1224C4.15625 18.8571 4.26161 18.6028 4.44914 18.4153C4.63668 18.2277 4.89103 18.1224 5.15625 18.1224C5.42147 18.1224 5.67582 18.2277 5.86336 18.4153C6.05089 18.6028 6.15625 18.8571 6.15625 19.1224V26.1224H26.1562V19.1224C26.1562 18.8571 26.2616 18.6028 26.4491 18.4153C26.6367 18.2277 26.891 18.1224 27.1562 18.1224C27.4215 18.1224 27.6758 18.2277 27.8634 18.4153C28.0509 18.6028 28.1562 18.8571 28.1562 19.1224ZM15.4487 19.8299C15.5416 19.9228 15.6519 19.9966 15.7733 20.0469C15.8947 20.0972 16.0248 20.1231 16.1562 20.1231C16.2877 20.1231 16.4178 20.0972 16.5392 20.0469C16.6606 19.9966 16.7709 19.9228 16.8638 19.8299L21.8638 14.8299C21.9567 14.737 22.0304 14.6266 22.0806 14.5053C22.1309 14.3839 22.1568 14.2538 22.1568 14.1224C22.1568 13.991 22.1309 13.8609 22.0806 13.7395C22.0304 13.6181 21.9567 13.5078 21.8638 13.4149C21.7708 13.3219 21.6605 13.2482 21.5391 13.198C21.4178 13.1477 21.2876 13.1218 21.1562 13.1218C21.0249 13.1218 20.8947 13.1477 20.7734 13.198C20.652 13.2482 20.5417 13.3219 20.4487 13.4149L17.1562 16.7086V5.12236C17.1562 4.85714 17.0509 4.60279 16.8634 4.41525C16.6758 4.22772 16.4215 4.12236 16.1562 4.12236C15.891 4.12236 15.6367 4.22772 15.4491 4.41525C15.2616 4.60279 15.1562 4.85714 15.1562 5.12236V16.7086L11.8638 13.4149C11.6761 13.2272 11.4216 13.1218 11.1562 13.1218C10.8909 13.1218 10.6364 13.2272 10.4487 13.4149C10.2611 13.6025 10.1557 13.857 10.1557 14.1224C10.1557 14.3877 10.2611 14.6422 10.4487 14.8299L15.4487 19.8299Z" fill="currentColor"/>
                                                </svg>
                                                Download
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>  
                            <tr>
                                <td>05</td>
                                <td>
                                    <div class="d-flex align-items-center col-10 col-md-5">
                                       <div class="realese-song ">
                                            <a href="javascript:void(0);"><img src="~/assets/images/dashboard/10.png" class="rounded avatar-60 img-fluid" alt=""></a>
                                        </div>
                                        <div class=" ms-3">
                                            <p class="mb-0">Just Perfect</p>
                                            <small>By Nil Ana Meet Nagak</small>
                                        </div>
                                    </div>
                                </td>
                                <td><p class="mb-0">Way Of Right</p></td>
                                <td><p class="mb-0">4:21</p></td>
                                <td>
                                    <div class="dropdown">
                                        <span class="d-flex align-items-center h5 mb-0" id="dropdownMenuButton10" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="22" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton10" style="">
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M31.467 15.7853C31.4232 15.6865 30.3645 13.3378 28.0107 10.984C24.8745 7.84778 20.9132 6.19028 16.5532 6.19028C12.1932 6.19028 8.23196 7.84778 5.09571 10.984C2.74196 13.3378 1.67821 15.6903 1.63946 15.7853C1.5826 15.9132 1.55322 16.0516 1.55322 16.1915C1.55322 16.3315 1.5826 16.4699 1.63946 16.5978C1.68321 16.6965 2.74196 19.044 5.09571 21.3978C8.23196 24.5328 12.1932 26.1903 16.5532 26.1903C20.9132 26.1903 24.8745 24.5328 28.0107 21.3978C30.3645 19.044 31.4232 16.6965 31.467 16.5978C31.5238 16.4699 31.5532 16.3315 31.5532 16.1915C31.5532 16.0516 31.5238 15.9132 31.467 15.7853ZM16.5532 24.1903C12.7057 24.1903 9.34446 22.7915 6.56196 20.034C5.42027 18.8986 4.44895 17.604 3.67821 16.1903C4.44874 14.7765 5.42008 13.4817 6.56196 12.3465C9.34446 9.58903 12.7057 8.19028 16.5532 8.19028C20.4007 8.19028 23.762 9.58903 26.5445 12.3465C27.6884 13.4815 28.6618 14.7762 29.4345 16.1903C28.5332 17.8728 24.607 24.1903 16.5532 24.1903ZM16.5532 10.1903C15.3665 10.1903 14.2065 10.5422 13.2198 11.2015C12.2331 11.8607 11.4641 12.7978 11.0099 13.8942C10.5558 14.9905 10.437 16.1969 10.6685 17.3608C10.9 18.5247 11.4715 19.5938 12.3106 20.4329C13.1497 21.272 14.2188 21.8435 15.3827 22.075C16.5466 22.3065 17.753 22.1877 18.8493 21.7336C19.9457 21.2794 20.8827 20.5104 21.542 19.5237C22.2013 18.537 22.5532 17.377 22.5532 16.1903C22.5516 14.5995 21.9189 13.0743 20.794 11.9495C19.6692 10.8246 18.144 10.1919 16.5532 10.1903ZM16.5532 20.1903C15.7621 20.1903 14.9887 19.9557 14.3309 19.5162C13.6731 19.0766 13.1604 18.4519 12.8577 17.721C12.5549 16.9901 12.4757 16.1858 12.6301 15.4099C12.7844 14.634 13.1654 13.9213 13.7248 13.3618C14.2842 12.8024 14.9969 12.4215 15.7729 12.2671C16.5488 12.1128 17.353 12.192 18.0839 12.4948C18.8148 12.7975 19.4396 13.3102 19.8791 13.968C20.3186 14.6258 20.5532 15.3992 20.5532 16.1903C20.5532 17.2511 20.1318 18.2686 19.3816 19.0187C18.6315 19.7688 17.6141 20.1903 16.5532 20.1903Z" fill="currentColor"/>
                                                </svg>
                                                View
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path  d="M19.643 9.48851C19.643 9.5565 19.11 16.2973 18.8056 19.1342C18.615 20.8751 17.4927 21.9311 15.8092 21.9611C14.5157 21.9901 13.2494 22.0001 12.0036 22.0001C10.6809 22.0001 9.38741 21.9901 8.13185 21.9611C6.50477 21.9221 5.38147 20.8451 5.20057 19.1342C4.88741 16.2873 4.36418 9.5565 4.35445 9.48851C4.34473 9.28351 4.41086 9.08852 4.54507 8.93053C4.67734 8.78453 4.86796 8.69653 5.06831 8.69653H18.9388C19.1382 8.69653 19.3191 8.78453 19.4621 8.93053C19.5953 9.08852 19.6624 9.28351 19.643 9.48851Z" fill="currentColor"></path>
                                                <path d="M21 5.97686C21 5.56588 20.6761 5.24389 20.2871 5.24389H17.3714C16.7781 5.24389 16.2627 4.8219 16.1304 4.22692L15.967 3.49795C15.7385 2.61698 14.9498 2 14.0647 2H9.93624C9.0415 2 8.26054 2.61698 8.02323 3.54595L7.87054 4.22792C7.7373 4.8219 7.22185 5.24389 6.62957 5.24389H3.71385C3.32386 5.24389 3 5.56588 3 5.97686V6.35685C3 6.75783 3.32386 7.08982 3.71385 7.08982H20.2871C20.6761 7.08982 21 6.75783 21 6.35685V5.97686Z" fill="currentColor"></path>
                                                </svg>
                                                Delete
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg class="icon-20" width="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M28.1562 19.1224V26.1224C28.1562 26.6528 27.9455 27.1615 27.5705 27.5366C27.1954 27.9116 26.6867 28.1224 26.1562 28.1224H6.15625C5.62582 28.1224 5.11711 27.9116 4.74204 27.5366C4.36696 27.1615 4.15625 26.6528 4.15625 26.1224V19.1224C4.15625 18.8571 4.26161 18.6028 4.44914 18.4153C4.63668 18.2277 4.89103 18.1224 5.15625 18.1224C5.42147 18.1224 5.67582 18.2277 5.86336 18.4153C6.05089 18.6028 6.15625 18.8571 6.15625 19.1224V26.1224H26.1562V19.1224C26.1562 18.8571 26.2616 18.6028 26.4491 18.4153C26.6367 18.2277 26.891 18.1224 27.1562 18.1224C27.4215 18.1224 27.6758 18.2277 27.8634 18.4153C28.0509 18.6028 28.1562 18.8571 28.1562 19.1224ZM15.4487 19.8299C15.5416 19.9228 15.6519 19.9966 15.7733 20.0469C15.8947 20.0972 16.0248 20.1231 16.1562 20.1231C16.2877 20.1231 16.4178 20.0972 16.5392 20.0469C16.6606 19.9966 16.7709 19.9228 16.8638 19.8299L21.8638 14.8299C21.9567 14.737 22.0304 14.6266 22.0806 14.5053C22.1309 14.3839 22.1568 14.2538 22.1568 14.1224C22.1568 13.991 22.1309 13.8609 22.0806 13.7395C22.0304 13.6181 21.9567 13.5078 21.8638 13.4149C21.7708 13.3219 21.6605 13.2482 21.5391 13.198C21.4178 13.1477 21.2876 13.1218 21.1562 13.1218C21.0249 13.1218 20.8947 13.1477 20.7734 13.198C20.652 13.2482 20.5417 13.3219 20.4487 13.4149L17.1562 16.7086V5.12236C17.1562 4.85714 17.0509 4.60279 16.8634 4.41525C16.6758 4.22772 16.4215 4.12236 16.1562 4.12236C15.891 4.12236 15.6367 4.22772 15.4491 4.41525C15.2616 4.60279 15.1562 4.85714 15.1562 5.12236V16.7086L11.8638 13.4149C11.6761 13.2272 11.4216 13.1218 11.1562 13.1218C10.8909 13.1218 10.6364 13.2272 10.4487 13.4149C10.2611 13.6025 10.1557 13.857 10.1557 14.1224C10.1557 14.3877 10.2611 14.6422 10.4487 14.8299L15.4487 19.8299Z" fill="currentColor"/>
                                                </svg>
                                                Download
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>                                                              
                        </tbody>
                    </table>
                </div>
               </div>
            </div>
         </div>
         </div>


    <div class="card border-top mb-0">
        <diiv class="card-body">
            <div class="d-flex align-items-center justify-content-between flex-md-row flex-column gap-3">
                <div class="">
                    <ul class="list-unstyled p-0 m-0 mb-3 text-capitalize d-flex gap-3 flex-md-nowrap flex-wrap">
                        <li>about</li>
                        <li>|</li>
                        <li>terms of use</li>
                        <li>|</li>
                        <li>privacy policy</li>
                        <li>|</li>
                        <li>support</li>
                        <li>|</li>
                        <li>feedback</li>
                        <li>|</li>
                    </ul>
                    <small>Copyright <span id="copyright"> 
    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>. Made with love by Iqonic Design.</small>
                </div>
                <div>
                    <ul class="list-unstyled m-0 p-0 d-flex align-items-center gap-3">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M5.026 15C11.064 15 14.367 9.99702 14.367 5.66602C14.367 5.52602 14.367 5.38402 14.361 5.24402C15.0041 4.77851 15.5591 4.20217 16 3.54202C15.3993 3.80687 14.7628 3.98143 14.111 4.06002C14.7975 3.64966 15.3117 3.00399 15.558 2.24302C14.913 2.62515 14.207 2.8934 13.471 3.03602C12.9762 2.50905 12.3214 2.15994 11.6081 2.04278C10.8948 1.92562 10.1627 2.04694 9.52534 2.38796C8.88796 2.72897 8.38081 3.27065 8.08245 3.92908C7.78409 4.58751 7.71118 5.32595 7.875 6.03002C6.56974 5.96457 5.29282 5.62549 4.12704 5.03476C2.96127 4.44404 1.93268 3.61487 1.108 2.60102C0.68934 3.3241 0.561574 4.17942 0.750646 4.99329C0.939718 5.80715 1.43145 6.51855 2.126 6.98302C1.60554 6.96534 1.09652 6.82558 0.64 6.57502V6.62002C0.640897 7.3775 0.903307 8.11144 1.38287 8.69778C1.86244 9.28412 2.52975 9.68689 3.272 9.83802C2.99026 9.91564 2.69923 9.95433 2.407 9.95302C2.20098 9.95365 1.99538 9.93456 1.793 9.89602C2.00279 10.5481 2.41127 11.1182 2.96125 11.5265C3.51122 11.9348 4.17513 12.1609 4.86 12.173C3.69656 13.0868 2.2594 13.5824 0.78 13.58C0.519321 13.5811 0.258823 13.5661 0 13.535C1.50151 14.4923 3.2453 15.0006 5.026 15Z" fill="#4A525F"/>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <g clip-path="url(#clip0_389_2574)">
                                    <path d="M0 1.146C0 0.513 0.526 0 1.175 0H14.825C15.474 0 16 0.513 16 1.146V14.854C16 15.487 15.474 16 14.825 16H1.175C0.526 16 0 15.487 0 14.854V1.146ZM4.943 13.394V6.169H2.542V13.394H4.943ZM3.743 5.182C4.58 5.182 5.101 4.628 5.101 3.934C5.086 3.225 4.581 2.686 3.759 2.686C2.937 2.686 2.4 3.226 2.4 3.934C2.4 4.628 2.921 5.182 3.727 5.182H3.743ZM8.651 13.394V9.359C8.651 9.143 8.667 8.927 8.731 8.773C8.904 8.342 9.299 7.895 9.963 7.895C10.832 7.895 11.179 8.557 11.179 9.529V13.394H13.58V9.25C13.58 7.03 12.396 5.998 10.816 5.998C9.542 5.998 8.971 6.698 8.651 7.191V7.216H8.635C8.64031 7.20765 8.64564 7.19932 8.651 7.191V6.169H6.251C6.281 6.847 6.251 13.394 6.251 13.394H8.651Z" fill="#4A525F"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_389_2574">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <g clip-path="url(#clip0_389_2576)">
                                    <path d="M16 8.04902C16 3.60302 12.418 -0.000976562 8.00005 -0.000976562C3.58005 2.34375e-05 -0.00195312 3.60302 -0.00195312 8.05002C-0.00195312 12.067 2.92405 15.397 6.74805 16.001V10.376H4.71805V8.05002H6.75005V6.27502C6.75005 4.25802 7.94505 3.14402 9.77205 3.14402C10.648 3.14402 11.563 3.30102 11.563 3.30102V5.28102H10.554C9.56105 5.28102 9.25105 5.90202 9.25105 6.53902V8.04902H11.469L11.115 10.375H9.25005V16C13.074 15.396 16 12.066 16 8.04902Z" fill="#FF4545"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_389_2576">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <g clip-path="url(#clip0_389_2578)">
                                    <path d="M8 0C5.829 0 5.556 0.01 4.703 0.048C3.85 0.088 3.269 0.222 2.76 0.42C2.22609 0.620819 1.74249 0.935826 1.343 1.343C0.936076 1.7427 0.621107 2.22624 0.42 2.76C0.222 3.268 0.087 3.85 0.048 4.7C0.01 5.555 0 5.827 0 8.001C0 10.173 0.01 10.445 0.048 11.298C0.088 12.15 0.222 12.731 0.42 13.24C0.625 13.766 0.898 14.212 1.343 14.657C1.787 15.102 2.233 15.376 2.759 15.58C3.269 15.778 3.849 15.913 4.701 15.952C5.555 15.99 5.827 16 8 16C10.173 16 10.444 15.99 11.298 15.952C12.149 15.912 12.732 15.778 13.241 15.58C13.7746 15.3791 14.2578 15.0641 14.657 14.657C15.102 14.212 15.375 13.766 15.58 13.24C15.777 12.731 15.912 12.15 15.952 11.298C15.99 10.445 16 10.173 16 8C16 5.827 15.99 5.555 15.952 4.701C15.912 3.85 15.777 3.268 15.58 2.76C15.3789 2.22623 15.0639 1.74268 14.657 1.343C14.2576 0.935676 13.774 0.620645 13.24 0.42C12.73 0.222 12.148 0.087 11.297 0.048C10.443 0.01 10.172 0 7.998 0H8.001H8ZM7.283 1.442H8.001C10.137 1.442 10.39 1.449 11.233 1.488C12.013 1.523 12.437 1.654 12.719 1.763C13.092 1.908 13.359 2.082 13.639 2.362C13.919 2.642 14.092 2.908 14.237 3.282C14.347 3.563 14.477 3.987 14.512 4.767C14.551 5.61 14.559 5.863 14.559 7.998C14.559 10.133 14.551 10.387 14.512 11.23C14.477 12.01 14.346 12.433 14.237 12.715C14.1087 13.0624 13.904 13.3764 13.638 13.634C13.358 13.914 13.092 14.087 12.718 14.232C12.438 14.342 12.014 14.472 11.233 14.508C10.39 14.546 10.137 14.555 8.001 14.555C5.865 14.555 5.611 14.546 4.768 14.508C3.988 14.472 3.565 14.342 3.283 14.232C2.9355 14.1039 2.62113 13.8996 2.363 13.634C2.09675 13.376 1.89172 13.0617 1.763 12.714C1.654 12.433 1.523 12.009 1.488 11.229C1.45 10.386 1.442 10.133 1.442 7.996C1.442 5.86 1.45 5.608 1.488 4.765C1.524 3.985 1.654 3.561 1.764 3.279C1.909 2.906 2.083 2.639 2.363 2.359C2.643 2.079 2.909 1.906 3.283 1.761C3.565 1.651 3.988 1.521 4.768 1.485C5.506 1.451 5.792 1.441 7.283 1.44V1.442ZM12.271 2.77C12.1449 2.77 12.0201 2.79483 11.9036 2.84308C11.7872 2.89132 11.6813 2.96203 11.5922 3.05118C11.503 3.14032 11.4323 3.24615 11.3841 3.36262C11.3358 3.4791 11.311 3.60393 11.311 3.73C11.311 3.85607 11.3358 3.9809 11.3841 4.09738C11.4323 4.21385 11.503 4.31968 11.5922 4.40882C11.6813 4.49797 11.7872 4.56868 11.9036 4.61692C12.0201 4.66517 12.1449 4.69 12.271 4.69C12.5256 4.69 12.7698 4.58886 12.9498 4.40882C13.1299 4.22879 13.231 3.98461 13.231 3.73C13.231 3.47539 13.1299 3.23121 12.9498 3.05118C12.7698 2.87114 12.5256 2.77 12.271 2.77ZM8.001 3.892C7.45607 3.8835 6.91489 3.98349 6.40898 4.18614C5.90306 4.3888 5.44251 4.69007 5.05415 5.07242C4.66579 5.45478 4.35736 5.91057 4.14684 6.41326C3.93632 6.91595 3.8279 7.4555 3.8279 8.0005C3.8279 8.5455 3.93632 9.08505 4.14684 9.58774C4.35736 10.0904 4.66579 10.5462 5.05415 10.9286C5.44251 11.3109 5.90306 11.6122 6.40898 11.8149C6.91489 12.0175 7.45607 12.1175 8.001 12.109C9.07954 12.0922 10.1082 11.6519 10.865 10.8833C11.6217 10.1146 12.0459 9.07917 12.0459 8.0005C12.0459 6.92183 11.6217 5.88641 10.865 5.11775C10.1082 4.34909 9.07954 3.90883 8.001 3.892ZM8.001 5.333C8.70833 5.333 9.38669 5.61399 9.88685 6.11415C10.387 6.61431 10.668 7.29267 10.668 8C10.668 8.70733 10.387 9.38569 9.88685 9.88585C9.38669 10.386 8.70833 10.667 8.001 10.667C7.29367 10.667 6.61531 10.386 6.11515 9.88585C5.61499 9.38569 5.334 8.70733 5.334 8C5.334 7.29267 5.61499 6.61431 6.11515 6.11415C6.61531 5.61399 7.29367 5.333 8.001 5.333Z" fill="#4A525F"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_389_2578">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </diiv>
    </div></div>
            </div>
        </main>


@* @model MusicProject.Models.PlaylistViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.PlaylistInfo.Title</h1>

<p>Description: @Model.PlaylistInfo.Description</p>

<h2>Tracks:</h2>
<ul>
    @foreach (var track in Model.Tracklist)
    {
        <li>
            <a href="@track.Link">@track.Title</a>
        </li>
    }
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model.PlaylistInfo.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
