@model MusicProject.Areas.admin.ViewModels.AdminViewModel
﻿

<main class="main-content">
          @await Html.PartialAsync("/Areas/admin/Views/Partials/Navbar2.cshtml")
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <div class="content-inner container-fluid pb-0" id="page_layout">
<div class="row rows-cols-lg-5 rows-cols-md-3">
            <div class="col">
                <div class="card card-box bg-soft-tertiary text-center">
                    <div class="card-body">
                        <div class="admin-circle-box rounded-pill">
                            <svg class="text-primary" width="36" height="28" viewBox="0 0 36 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="3 User">
                            <path id="Stroke 1"
                                d="M27.8128 12.1609C30.1378 11.8342 31.9278 9.84089 31.9328 7.42589C31.9328 5.04589 30.1978 3.07255 27.9228 2.69922"
                                stroke="#8545DC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path id="Stroke 3"
                                d="M30.8809 17.7505C33.1325 18.0872 34.7042 18.8755 34.7042 20.5005C34.7042 21.6188 33.9642 22.3455 32.7675 22.8022"
                                stroke="#8545DC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path id="Stroke 5" fill-rule="evenodd" clip-rule="evenodd"
                                d="M17.8112 18.4395C12.4545 18.4395 7.87952 19.2511 7.87952 22.4928C7.87952 25.7328 12.4262 26.5678 17.8112 26.5678C23.1679 26.5678 27.7412 25.7645 27.7412 22.5211C27.7412 19.2778 23.1962 18.4395 17.8112 18.4395Z"
                                stroke="#8545DC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path id="Stroke 7" fill-rule="evenodd" clip-rule="evenodd"
                                d="M17.8112 13.813C21.3262 13.813 24.1762 10.9647 24.1762 7.44801C24.1762 3.93301 21.3262 1.08301 17.8112 1.08301C14.2962 1.08301 11.4462 3.93301 11.4462 7.44801C11.4328 10.9513 14.2612 13.8013 17.7645 13.813H17.8112Z"
                                stroke="#8545DC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path id="Stroke 9"
                                d="M7.80799 12.1609C5.48132 11.8342 3.69299 9.84089 3.68799 7.42589C3.68799 5.04589 5.42299 3.07255 7.69799 2.69922"
                                stroke="#8545DC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path id="Stroke 11"
                                d="M4.73984 17.7505C2.48817 18.0872 0.916504 18.8755 0.916504 20.5005C0.916504 21.6188 1.6565 22.3455 2.85317 22.8022"
                                stroke="#8545DC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>                  
                        <h4 class="text-capitalize mt-4 mb-1">@Model.TotalUsers</h4>
                        <p class="mb-0 text-capitalize text-body">total users</p>
                    </div>
                </div>
            </div>
</div>
@*         <div class="col-lg-12">
            <div class="card"> *@
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">User List</h4>
                            </div>
                        </div>
                        <div class="card-body px-0">
                            <div class="table-responsive ">
                                <div id="user-list-table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="dataTables_length" id="user-list-table_length">
                                                <label>
                                                    Show
                                                    <select name="user-list-table_length" aria-controls="user-list-table" class="form-select form-select-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> entries
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="user-list-table_filter" class="dataTables_filter">
                                                <label>
                                                    Search:
                                                    <input type="search" id="userSearch" class="form-control form-control-sm" placeholder="" aria-controls="user-list-table">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                        <table id="user-list-table" class="table table-striped dataTable no-footer" role="grid" data-toggle="data-table" aria-describedby="user-list-table_info">
                                            <thead>
                                                <tr class="light"><th class="sorting sorting_desc" tabindex="0" aria-controls="user-list-table" rowspan="1" colspan="1" aria-label="No.: activate to sort column ascending" aria-sort="descending">No.</th>
                                                    <th class="sorting" tabindex="0" aria-controls="user-list-table" rowspan="1" colspan="1" aria-label="UserName: activate to sort column ascending">UserName</th>
                                                    <th class="sorting" tabindex="0" aria-controls="user-list-table" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Email</th>
                                                    <th class="sorting" tabindex="0" aria-controls="user-list-table" rowspan="1" colspan="1" aria-label="Phone Number: activate to sort column ascending">Phone Number</th>
                                                    <th class="sorting" tabindex="0" aria-controls="user-list-table" rowspan="1" colspan="1" aria-label="Joined Date: activate to sort column ascending">Joined Date</th>
                                                   <th style="min-width: 100px" class="sorting" tabindex="0" aria-controls="user-list-table" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th></tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model.Users)
                                                {
                                                    <tr>
                                                        <td>@(Model.UserIdMap[user.Id])</td>
                                                        <td>@user.UserName</td>
                                                        <td>@user.Email</td>
                                                        <td>@user.PhoneNumber</td>
                                                        <td>@user.JoinDate.ToShortDateString()</td>
                                                        <td>
                                                            <div class="flex align-items-center list-user-action">
                                                                <button class="btn btn-sm btn-icon btn-success rounded" data-id="@user.Id" data-action="add" title="Add">
                                                                    <span class="btn-inner">
                                                                        <svg width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                        </svg>
                                                                    </span>
                                                                </button>
                                                                <button class="btn btn-sm btn-icon btn-warning rounded" data-id="@user.Id" data-action="edit" title="Edit">
                                                                    <span class="btn-inner">
                                                                        <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                        </svg>
                                                                    </span>
                                                                </button>
                                                                <button class="btn btn-sm btn-icon btn-danger rounded" data-id="@user.Id" data-action="delete" title="Delete">
                                                                    <span class="btn-inner">
                                                                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                                                            <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                        </svg>
                                                                    </span>
                                                                 </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                               

                                                }
                                            </tbody>
                                            

                                        </table>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            var input = document.getElementById("userSearch");
                                            input.addEventListener("input", function () {
                                                var filter = input.value.toLowerCase();
                                                var rows = document.querySelectorAll("#user-list-table tbody tr");
                                                rows.forEach(function (row) {
                                                    var columns = row.querySelectorAll("td");
                                                    var found = false;
                                                    columns.forEach(function (column) {
                                                        if (column.textContent.toLowerCase().indexOf(filter) > -1) {
                                                            found = true;
                                                        }
                                                    });
                                                    row.style.display = found ? "" : "none";
                                                });
                                            });
                                        });
                                    </script>
                                        <script>
                                            $(document).ready(function () {
                                                // Handle button clicks
                                                $('.list-user-action button').click(function () {
                                                    var userId = $(this).data('id');
                                                    var action = $(this).data('action');

                                                    // Perform action based on the button clicked
                                                    if (action === 'add') {
                                                        // Redirect to the add user page or trigger the add user action
                                                        window.location.href = '/admin/Users/AddUser'; // Example URL for adding user
                                                    } else if (action === 'edit') {
                                                        // Redirect to the edit user page or trigger the edit user action
                                                        window.location.href = '/admin/Users/EditUser/' + userId; // Example URL for editing user
                                                    } else if (action === 'delete') {
                                                        // Trigger the delete user action via AJAX
                                                        deleteUser(userId);
                                                    }
                                                });

                                                // Function to handle delete user action via AJAX
                                                function deleteUser(userId) {
                                                    $.ajax({
                                                        url: '/admin/Users/deleteUser',
                                                        method: 'POST',
                                                        data: { userId: userId },
                                                        success: function (response) {
                                                            // Handle success response
                                                            alert(response.message);
                                                            // Reload the page or update the user list as needed
                                                            window.location.reload();
                                                        },
                                                        error: function (xhr, status, error) {
                                                            // Handle error response
                                                            alert('Failed to delete user: ' + error);
                                                        }
                                                    });
                                                }
                                            });
                                        </script>

                                    </div><div class="row align-items-center"><div class="col-md-6"><div class="dataTables_info" id="user-list-table_info" role="status" aria-live="polite">Showing 1 to 9 of 9 entries</div></div><div class="col-md-6"><div class="dataTables_paginate paging_simple_numbers" id="user-list-table_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="user-list-table_previous"><a aria-controls="user-list-table" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="user-list-table" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="user-list-table_next"><a aria-controls="user-list-table" aria-disabled="true" role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li></ul></div></div></div><div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="card border-top mb-0">
                    <diiv class="card-body">
                        <div class="d-flex align-items-center justify-content-between flex-md-row flex-column gap-3">
                            <div class="">

                                <small>
                                    Copyright <span id="copyright">
                                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                                    </span>. Made with love by Fakhri Mustafayev.
                                </small>
                            </div>
                        </div>
                    </diiv>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>

