@model MusicProject.ViewModels.IndexViewModel
@* @model SearchResponse *@

@{
    Layout = "";
}

<!doctype html>
<html lang="en" dir="ltr">
@await Html.PartialAsync("/Views/Partials/HeaderPartial.cshtml")
<body class="  ">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body ">
                <img src="~/assets/images/loader.gif" alt="loader" class=" img-fluid ">
            </div>
        </div>
    </div>
    <!-- loader END -->
    @await Html.PartialAsync("/Views/Partials/AsidePartial.cshtml")
    <main class="main-content">
        @await Html.PartialAsync("/Views/Partials/Navbar2.cshtml")
        @* <div class="content-inner container-fluid pb-0" id="page_layout">
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="card-header mb-3">
                        <div class="header-title">
                            <h4 class="card-title text-capitalize">Genres</h4>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model != null && Model.SearchResponse.users != null)
            {
                <h3>Users</h3>
                <div class="row">
                    @foreach (var userItem in Model.SearchResponse.users.items)
                    {
                        <div class="col-md-4 mb-3">
                            <div>@userItem.data.displayName</div>
                            <img src="@userItem.data.image.smallImageUrl" alt="User Image" />
                        </div>
                    }
                </div>
            }

            @if (Model != null && Model.SearchResponse.albums != null && Model.SearchResponse.albums.items != null)
            {
                <h3>Albums</h3>
                <div class="row">
                    @foreach (var albumItem in Model.SearchResponse.albums.items)
                    {
                        <div class="col-md-4 mb-3">
                            <div>@albumItem.data.name</div>
                            @if (albumItem.data.coverArt != null && albumItem.data.coverArt.sources != null)
                            {
                                <div class="row">
                                    @foreach (var source in albumItem.data.coverArt.sources)
                                    {
                                        <div class="col-md-6">
                                            <img src="@source.url" alt="Cover Art" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }

            @if (Model != null && Model.SearchResponse.playlists != null && Model.SearchResponse.playlists.items != null)
            {
                <h3>Playlists</h3>
                <div class="row">
                    @foreach (var playlistItem in Model.SearchResponse.playlists.items)
                    {
                        <div class="col-md-4 mb-3">
                            <div>@playlistItem.data.name</div>
                        </div>
                    }
                </div>
            }
        </div> *@
        <div class="content-inner container-fluid pb-0" id="page_layout">
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="card-header mb-3">
                        <div class="header-title">
                            <h4 class="card-title text-capitalize">Tracks</h4>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model != null && Model.SearchResponse != null && Model.SearchResponse.tracks != null && Model.SearchResponse.tracks.items != null)
            {
                <ul class="row list-unstyled">
                    @foreach (var trackItem in Model.SearchResponse.tracks.items)
                    {
                        <li class="col-lg-2 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    @if (trackItem.data.albumOfTrack != null && trackItem.data.albumOfTrack.coverArt != null && trackItem.data.albumOfTrack.coverArt.sources != null && trackItem.data.albumOfTrack.coverArt.sources.Length > 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="@Url.Action("GetTrack", "Track", new { id = trackItem.data.id })">
                                                    <img src="@trackItem.data.albumOfTrack.coverArt.sources[0].url" alt="Cover Art" class="img-fluid" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    <div>@trackItem.data.name</div>
                                    <div>Album: @trackItem.data.albumOfTrack.name</div>
                                    <div>
                                        Artist(s):
                                        @foreach (var artist in trackItem.data.artists.items)
                                        {
                                            @artist.profile.name
                                            if (!artist.Equals(trackItem.data.artists.items.Last()))
                                            {
                                                <text>, </text>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }

        </div>



            <!-- JavaScript code -->
            <script>
                // Example: Toggle navbar dropdown
                document.getElementById('navbar-dropdown-toggle').addEventListener('click', function () {
                    const dropdownMenu = document.getElementById('navbar-dropdown-menu');
                    dropdownMenu.classList.toggle('show');
                });

                // Assuming 'Model' contains the data passed from the controller
                var artists = @Html.Raw(Json.Serialize(Model.SearchResponse.artists.items)); // Convert the C# object to JavaScript

                // Loop through the artists array and access the profile property
                artists.forEach(function (item) {
                    if (item.data && item.data.profile) {
                        console.log(item.data.profile.name); // Accessing the profile name
                        // You can use this information as needed, such as displaying it in HTML
                        var profileName = item.data.profile.name;
                        // Code to display profileName in HTML, e.g., appending to a div or list
                        var artistsList = document.getElementById('artists-list');
                        var li = document.createElement('li');
                        li.textContent = profileName;
                        artistsList.appendChild(li);
                    }
                });
            </script>


        <div class="card border-top mb-0">
            <diiv class="card-body">
                <div class="d-flex align-items-center justify-content-between flex-md-row flex-column gap-3">
                    <div class="">

                        <small>
                            Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span>. Made with love by Fakhri Mustafayev.
                        </small>
                    </div>
                </div>
            </diiv>
        </div></div>
        </div>
        </div>
        </div>
    </main>
    <!--Footer Start-->
    <!-- Footer Section Start -->
    @* @await Html.PartialAsync("/Views/Partials/Footer.cshtml") *@
    <!-- Footer Section End -->        <!--Footer End-->
    <!--Burger Menu Start-->
    @await Html.PartialAsync("/Views/Partials/BurgerMenu.cshtml")
    <!--Burger Menu End-->
    <!-- Wrapper End-->
    @await Html.PartialAsync("/Views/Partials/Scripts.cshtml")

</body>
</html>
