@model MusicProject.ViewModels.IndexViewModel
@{
    Layout = "";
}


<!doctype html>
@await Html.PartialAsync("/Views/Partials/HeaderPartial.cshtml")

    <body class="  ">
        <!-- loader Start -->
        <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body ">
                <img src="~/assets/images/loader.gif" alt="loader" class=" img-fluid ">
            </div>
        </div>
        </div>
        <!-- loader END -->
    <aside class="sidebar sidebar-base sidebar-white sidebar-default  " id="first-tour"
           data-toggle="main-sidebar" data-sidebar="responsive">
        <div class="sidebar-header d-flex align-items-center justify-content-center">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">

                <!--Logo start-->
                @*   <div class="logo-main">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo.svg" class="logo-normal img-fluid" alt="logo">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-dark.svg" class="logo-normal dark-normal img-fluid" alt="logo-dark">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-color.svg" class="logo-normal white-normal img-fluid" alt="logo-color">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-mini.svg" class="logo-mini img-fluid" alt="logo-mini">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-dark-mini.svg" class="logo-mini dark-mini img-fluid" alt="logo-dark-mini">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-color-mini.svg" class="logo-mini white-mini img-fluid" alt="logo-white-mini">
                </div> *@
                <div class="logo-main">
                    <img src="~/assets/thirtify.png" class="logo-normal img-fluid large-logo" alt="logo">
                </div>

                <style>
                    .large-logo {
                        width: 75px; /* Adjust the width as needed */
                        height: auto; /* Maintain aspect ratio */
                    }
                </style>
                <!--logo End-->
            </a>
            <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
                <i class="icon">

                    <svg class="icon-10" width="10" height="10" viewBox="0 0 8 8" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.29853 8C7.11974 8 6.94002 7.93083 6.80335 7.79248L3.53927 4.50446C3.40728 4.37085 3.33333 4.18987 3.33333 4.00036C3.33333 3.81179 3.40728 3.63081 3.53927 3.4972L6.80335 0.207279C7.07762 -0.069408 7.52132 -0.069408 7.79558 0.209174C8.06892 0.487756 8.06798 0.937847 7.79371 1.21453L5.02949 4.00036L7.79371 6.78618C8.06798 7.06286 8.06892 7.51201 7.79558 7.79059C7.65892 7.93083 7.47826 8 7.29853 8Z"
                              fill="white" />
                        <path d="M3.96552 8C3.78673 8 3.60701 7.93083 3.47034 7.79248L0.206261 4.50446C0.0742745 4.37085 0.000325203 4.18987 0.000325203 4.00036C0.000325203 3.81179 0.0742745 3.63081 0.206261 3.4972L3.47034 0.207279C3.74461 -0.069408 4.18831 -0.069408 4.46258 0.209174C4.73591 0.487756 4.73497 0.937847 4.4607 1.21453L1.69649 4.00036L4.4607 6.78618C4.73497 7.06286 4.73591 7.51201 4.46258 7.79059C4.32591 7.93083 4.14525 8 3.96552 8Z"
                              fill="white" />
                    </svg>
                </i>
            </div>
        </div>
        <div class="sidebar-body pt-0 data-scrollbar">
            <div class="sidebar-list">
                <!-- Sidebar Menu Start -->
                <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
                    <li class="nav-item static-item mt-5">
                        <a class="nav-link static-item disabled text-start" href="#" tabindex="-1">
                            <span class="custom-icon default-icon text-uppercase">Main</span>
                            <span class="mini-icon" data-bs-toggle="tooltip" title="Home" data-bs-placement="right">-</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#home-menu" role="button" aria-expanded="false"
                           aria-controls="home-menu">
                            <i class="icon" data-bs-toggle="tooltip" title="Dashboard" data-bs-placement="right">
                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" class="icon-20" height="20" viewBox="0 0 20 20" fill="none">
                                    <g clip-path="url(#clip0_389_2893)">
                                        <path d="M16.875 16.875V9.02655C16.875 8.93945 16.8568 8.85332 16.8215 8.77367C16.7863 8.69403 16.7348 8.62263 16.6703 8.56405L10.4203 2.66249C10.3052 2.55774 10.1552 2.49969 9.99961 2.49969C9.844 2.49969 9.69399 2.55774 9.57891 2.66249L3.32891 8.56405C3.26459 8.6227 3.21323 8.69413 3.17811 8.77377C3.143 8.85341 3.12491 8.93951 3.125 9.02655V16.875" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M1.25 16.875H18.75" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.875 16.875V12.5C11.875 12.3342 11.8092 12.1753 11.6919 12.0581C11.5747 11.9408 11.4158 11.875 11.25 11.875H8.75C8.58424 11.875 8.42527 11.9408 8.30806 12.0581C8.19085 12.1753 8.125 12.3342 8.125 12.5V16.875" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_389_2893">
                                            <rect width="20" height="20" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            <span class="item-name">Home</span>
                            <i class="right-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                </svg>
                            </i>
                        </a>
                        <ul class="sub-nav collapse" id="home-menu" data-bs-parent="#sidebar-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Albums")">
                                    <i class="icon">
                                        <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                                <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                            </g>
                                        </svg>
                                    </i>
                                    <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Albums" data-bs-placement="right">
                                        A
                                    </i>
                                    <span class="item-name">Albums</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    @if (Model.User != null && Model.User.UserName == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-user" role="button" aria-expanded="false"
                               aria-controls="sidebar-user">
                                <i class="icon" data-bs-toggle="tooltip" title="Users" data-bs-placement="right">
                                    <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <g clip-path="url(#clip0_389_11969)">
                                            <path d="M10 12.5C12.7614 12.5 15 10.2614 15 7.5C15 4.73858 12.7614 2.5 10 2.5C7.23858 2.5 5 4.73858 5 7.5C5 10.2614 7.23858 12.5 10 12.5Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M2.5 16.875C4.01328 14.2602 6.76172 12.5 10 12.5C13.2383 12.5 15.9867 14.2602 17.5 16.875" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_389_11969">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </i>
                                <span class="item-name">Users</span>
                                <i class="right-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                    </svg>
                                </i>
                            </a>
                            <ul class="sub-nav collapse" id="sidebar-user" data-bs-parent="#sidebar-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AddUser", "Users", new { area = "admin" })">
                                        <i class="icon">
                                            <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                                </g>
                                            </svg>
                                        </i>
                                        <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Add User" data-bs-placement="right"> A </i>
                                        <span class="item-name">Add User</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "admin" })">
                                        <i class="icon">
                                            <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                                </g>
                                            </svg>
                                        </i>
                                        <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="User List" data-bs-placement="right"> U </i>
                                        <span class="item-name">User List</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }


                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-my-favourites" role="button" aria-expanded="false"
                           aria-controls="sidebar-my-favourites" onclick="redirectToMyFavorites()">
                            <i class="icon" data-bs-toggle="tooltip" title="My Favourites" data-bs-placement="right">
                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <g clip-path="url(#clip0_389_11969)">
                                        <path d="M10 12.5C12.7614 12.5 15 10.2614 15 7.5C15 4.73858 12.7614 2.5 10 2.5C7.23858 2.5 5 4.73858 5 7.5C5 10.2614 7.23858 12.5 10 12.5Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2.5 16.875C4.01328 14.2602 6.76172 12.5 10 12.5C13.2383 12.5 15.9867 14.2602 17.5 16.875" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_389_11969">
                                            <rect width="20" height="20" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            <span class="item-name">My Favourites</span>
                        </a>
                        <ul class="sub-nav collapse" id="sidebar-my-favourites" data-bs-parent="#sidebar-menu">
                        </ul>
                    </li>

                    <script>
                        function redirectToMyFavorites() {
                            // Redirect to the MyFavorites page
                            window.location.href = "/Track/MyFavorites";
                        }
                    </script>


                </ul>

                <!-- Sidebar Menu End -->
            </div>
        </div>
        <div class="sidebar-footer">
        </div>
    </aside>
    <main class="main-content">
        @await Html.PartialAsync("/Views/Partials/NavbarPartial.cshtml")
        <div class="content-inner container-fluid pb-0" id="page_layout">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1">
                                        <img src="~/assets/images/dashboard/user-icon.png" alt="User-Profile" class="theme-color-default-img img-fluid rounded-pill avatar-100" loading="lazy">
                                    </div>
                                    <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                        <h4 class="me-2 h4">@Model.User.UserName</h4>
                                    </div>
                                </div>
                                <!-- Edit and Delete buttons -->
                                <div class="d-flex align-items-center">
                                    <a id="editUserBtn" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.User.Id" class="btn btn-primary me-2">Edit</a>
                                    <a id="deleteUserBtn" asp-controller="Account" asp-action="Delete" class="btn btn-primary me-2">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile-content tab-content iq-tab-fade-up">
                        <div id="profile-profile" class="tab-pane fade active show" role="tabpanel">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="header-title">
                                        <h4 class="card-title">About User</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-2">
                                        <h6 class="mb-1">Joined:</h6>
                                        <p>@Model.User.JoinDate.ToShortDateString()</p>
                                    </div>
                                    <div class="mt-2">
                                        <h6 class="mb-1">Email:</h6>
                                        <p><a href="mailto:@Model.User.Email" class="text-body">@Model.User.Email</a></p>
                                    </div>
                                    <div class="mt-2">
                                        <h6 class="mb-1">Contact:</h6>
                                        <p><a href="tel:@Model.User.PhoneNumber" class="text-body">@Model.User.PhoneNumber</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts {
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    console.log("Script loaded!"); // Test script to check if JavaScript is executing

                    $("#editUserBtn").click(function (e) {
                        e.preventDefault(); // Prevent the default action of the anchor tag
                        console.log("Edit button clicked!"); // Log when the edit button is clicked
                        $("form").submit(); // Submit the form
                    });

                    $("#deleteUserForm").submit(function (e) {
                        e.preventDefault(); // Prevent the default form submission
                        if (confirm("Are you sure you want to delete this user?")) {
                            console.log("Delete confirmed!"); // Log when delete is confirmed
                            $(this).unbind('submit').submit(); // Proceed with the form submission
                        } else {
                            console.log("Delete canceled!"); // Log if delete is canceled
                        }
                    });
                });
            </script>
        }

                       </div>
                   </diiv>
               </div>         </div>
      </div>
            </div>
        </main>
        <!--Footer Start-->
        <!-- Footer Section Start -->
     @*    @await Html.PartialAsync("/Views/Partials/Footer.cshtml") *@
        <!-- Footer Section End -->        <!--Footer End-->

        <!--Burger Menu Start-->
       @await Html.PartialAsync("/Views/Partials/BurgerMenu.cshtml")
       <!--Burger Menu End-->

          <!-- Wrapper End-->
        @await Html.PartialAsync("/Views/Partials/Scripts.cshtml")
        
    </body>
</html>


