
     @model MusicProject.ViewModels.IndexViewModel
@{
    Layout = "";
}

<!doctype html>
<html lang="en" dir="ltr">
@await Html.PartialAsync("/Views/Partials/HeaderPartial.cshtml")
<body class="  ">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body ">
                <img src="~/assets/images/loader.gif" alt="loader" class=" img-fluid ">
            </div>
        </div>
    </div>
    <!-- loader END -->
    @await Html.PartialAsync("/Views/Partials/AsidePartial.cshtml")
    <main class="main-content">
        @await Html.PartialAsync("/Views/Partials/Navbar2.cshtml")
        <div class="content-inner container-fluid pb-0" id="page_layout">
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="card-header mb-3">
                        <div class="header-title">
                            <h4 class="card-title text-capitalize">Favourite Tracks</h4>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    @foreach (var track in Model.FavoriteTracks)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="@track.album.images.FirstOrDefault()?.url" class="card-img-top" alt="@track.name">
                                <div class="card-body">
                                    <h5 class="card-title">@track.name</h5>
                                    <p class="card-text">@string.Join(", ", track.artists.Select(a => a.name))</p>
                                    <button class="btn btn-danger" data-track-id="@track.id">Remove from Favorites</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('.btn-danger').click(function () {
                        var trackId = $(this).data('track-id');

                        $.ajax({
                            type: 'POST',
                            url: '/Account/MyFavorites',
                            data: { trackId: trackId, isFavorite: true }, // Set isFavorite to true to remove from favorites
                            success: function (response) {
                                if (response.success) {
                                    // Remove the card from the UI
                                    $(this).closest('.col-md-4').remove();
                                } else {
                                    alert('Error removing from favorites.');
                                }
                            },
                            error: function () {
                                alert('Error removing from favorites.');
                            }
                        });
                    });
                });
            </script>

            <div class="card border-top mb-0">
                <diiv class="card-body">
                    <div class="d-flex align-items-center justify-content-between flex-md-row flex-column gap-3">
                        <div class="">

                            <small>
                                Copyright <span id="copyright">
                                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                                </span>. Made with love by Fakhri Mustafayev.
                            </small>
                        </div>
                    </div>
                </diiv>
            </div>
        </div>
        </div>
        </div>
        </div>
    </main>
    <!--Footer Start-->
    <!-- Footer Section Start -->
    @await Html.PartialAsync("/Views/Partials/Footer.cshtml")
    <!-- Footer Section End -->        <!--Footer End-->
    <!--Burger Menu Start-->
    @await Html.PartialAsync("/Views/Partials/BurgerMenu.cshtml")
    <!--Burger Menu End-->
    <!-- Wrapper End-->
    @await Html.PartialAsync("/Views/Partials/Scripts.cshtml")

</body>
</html>
