<div class="position-relative ">
    <!--Nav Start-->
    <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar">
        <div class="container-fluid navbar-inner">
            <a href="index-2.html" class="navbar-brand">

                <!--Logo start-->
                @*   <div class="logo-main">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo.svg" class="logo-normal img-fluid" alt="logo">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-dark.svg" class="logo-normal dark-normal img-fluid" alt="logo-dark">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-color.svg" class="logo-normal white-normal img-fluid" alt="logo-color">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-mini.svg" class="logo-mini img-fluid" alt="logo-mini">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-dark-mini.svg" class="logo-mini dark-mini img-fluid" alt="logo-dark-mini">
                <img src="https://templates.iqonic.design/muzik/html/assets/images/logo-color-mini.svg" class="logo-mini white-mini img-fluid" alt="logo-white-mini">
                </div> *@
                <div class="logo-main">
                    <img src="~/assets/thirtify.png" class="logo-normal img-fluid large-logo" alt="logo" style="width: 150px; height: 150px;">
                </div>

                <style>
                    .large-logo {
                        width: 200px !important;
                        height: 95px !important;
                    }
                </style>
                <!--logo End-->
            </a>
            <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
                <i class="icon d-flex">
                    <svg class="icon-20" width="20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
                    </svg>
                </i>
            </div>
            <div class="d-flex align-items-center justify-content-between product-offcanvas">
                <div class="offcanvas offcanvas-end shadow-none iq-product-menu-responsive" tabindex="-1" id="offcanvasBottom">
                    <div class="offcanvas-body">
                        <ul class="iq-nav-menu list-unstyled">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">
                                    <span class="item-name">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Albums")">
                                    <span class="item-name">Albums</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button id="navbar-toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <span class="navbar-toggler-bar bar1 mt-1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form id="searchForm" action="@Url.Action("Search", "Home")" method="get">
                    <input type="text" id="searchInput" name="query" placeholder="Search..." /> <!-- Change name to "query" -->
                    <a id="searchButton" class="button btn button-icon btn-primary" href="#">Search</a>
                </form>

                <script>
                    document.getElementById('searchButton').addEventListener('click', function () {
                        var searchQuery = document.getElementById('searchInput').value;
                        var searchUrl = '@Url.Action("Search", "Home")' + '?query=' + encodeURIComponent(searchQuery);
                        document.getElementById('searchForm').action = searchUrl;
                        document.getElementById('searchForm').submit();
                    });
                </script>


            </div>

               
@* 
                <script>
                    document.getElementById('search-form').addEventListener('submit', function (event) {
                        event.preventDefault();
                        const query = document.getElementById('search-input').value.trim();

                        if (query.length > 0) {
                            window.location.href = `@Url.Action("Search", "Home")?query=${query}`;
                        }
                    });
                </script> *@




                <!-- Remove the JavaScript code related to dropdown toggle -->

                <ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
                    <li class="nav-item dropdown d-xl-none d-block">
                        <a href="#" class="nav-link" id="search-drop" data-bs-toggle="dropdown">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                      transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                      fill="currentColor"></path>
                            </svg>
                        </a>
                        <ul class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="search-drop">
                            <li class="">
                                <div class="p-3 card-header justify-content-between border-bottom rounded-top">
                                    <div class="header-title">
                                        <div class="iq-search-bar device-search  position-relative">
                                            <form action="#" class="searchbox">
                                                <input type="text" class="text search-input form-control bg-soft-primary"
                                                       placeholder="Search here...">
                                                <a class="d-lg-none d-flex" href="javascript:void(0);">
                                                    <span class="material-symbols-outlined">search</span>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-0 card-body all-notification">
                                    <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                        <div class="flex-shrink-0">
                                            <img src="~/assets/images/dashboard/64.jpg"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                        </div>
                                        <div class="d-flex flex-column ms-3 w-100">
                                            <a href="javascript:void(0);" class="h6">Alexa Zone</a>
                                            <span>Muzic Player</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                        <div class="flex-shrink-0">
                                            <img src="~/assets/images/dashboard/55.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                        </div>
                                        <div class="d-flex flex-column ms-3 w-100">
                                            <a href="javascript:void(0);" class="h6">Karuna Trusaa</a>
                                            <span>Singer</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center search-hover py-2 px-3 border-bottom">
                                        <div class="flex-shrink-0">
                                            <img src="~/assets/images/dashboard/56.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                        </div>
                                        <div class="d-flex flex-column ms-3 w-100">
                                            <a href="javascript:void(0);" class="h6">Vibrato Ecruct</a>
                                            <span>Playback</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                        <div class="flex-shrink-0">
                                            <img src="~/assets/images/dashboard/57.png"
                                                 class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                        </div>
                                        <div class="d-flex flex-column ms-3 w-100">
                                            <a href="javascript:void(0);" class="h6">Omen Smith</a>
                                            <span>Singer</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="p-0 ps-3 nav-link d-flex align-items-center position-relative" href="#" id="profile-setting" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/images/dashboard/user-icon.png" alt="User-Profile"
                                 class="theme-color-default-img img-fluid avatar avatar-40 avatar-rounded" loading="lazy">
                            <div class="iq-profile-badge  bg-success"></div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile-setting">
                            <li><a asp-controller="Home" asp-action="Users" class="dropdown-item">Profile</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a></li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="Login" class="dropdown-item">
                                        Login
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>            <!--Nav End-->
</div>